:root {
    /* Colour vars */
    --color-primary: #AD343E;
    --color-secondary: #2C2F24;
    --color-tertiary: #F9F7F7;
    --color-font: #182226;
    --color-font-secondary: #414536;
    --color-font-tertiary: #ADB29E;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-grey: #474747;
    --color-semi-dark-grey: #737865;
    --color-light-grey: #DBDFD0;

    /* Fonts vars */
    --font-text: DM Sans, sans-serif;
    --font-title: Playfair Display, serif;
}