.button {
    padding: 0.75rem 1.5rem;
    border-radius: 7.375rem;
    border: 0.09rem solid #2C2F24;
    background-color: transparent; 
    color: #2C2F24; 
}

.button-xl {
    padding: 1.25rem 2rem;
}

.button-red {
    color: white;
    background-color: #AD343E;
    border: 0.09rem solid #AD343E;
}