.main-blog-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.25rem;
  margin-bottom: 6.25rem;
}

.blog-articles-title {
    font-size: 3.437rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

.blog-articles-text {
    max-width: 39.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    padding-bottom: 4.5rem;
    text-align: center;
}

.blog-articles-cards {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.articles-card {
    display: flex;
    width: 19.125rem;
    height: 22.125rem;
    gap: 1rem;;
    padding-bottom: 3.125rem;
    flex-direction: column;
    justify-items: flex-start;
    background-color: var(--color-white);
    box-shadow: 0rem 0.25rem 1.5125rem 0rem rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
}

.articles-card-img {
    width: 19.125rem;
    height: 12.5rem;
    flex-shrink: 0;
    border-radius: 0.75rem 0.75rem 0rem 0rem;  
}

.articles-card-content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
}

.articles-card-date {
    color: var(--color-semi-dark-grey);
    font-family: var(--font-text);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 143%;
}

.articles-card-title {
    width: 16rem;
    color: var(--color-secondary);
    font-family: var(--font-text);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 130%;
}