.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-white);
    padding: 5.5rem 9.5rem;
    gap: 6.25rem;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8.4375rem;
}

.footer-info-links {
    display: flex;
    gap: 7.5rem;
}

.footer-info-company {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 18.3125rem;

    & h1 {
        color: var(--color-tertiary);
        font-family: var(--font-title);
        font-size: 2.0419rem;
        font-style: italic;
        font-weight: 600;
        line-height: 90%;
        letter-spacing: -0.025rem;
    }
    & .footer-info-company-desc {
        color: var(--color-font-tertiary);
        font-family: var(--font-text);
        font-size: 1rem;
        font-weight: 400;
        line-height: 150%;
    }
    & .footer-social-menu {
        display: flex;
        gap: 0.75rem;
    }
}

.footer-info-pages,
.footer-info-utility {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: flex-start;
    line-height: 150%;

    & ul {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    & h3 {
        font-family: var(--font-text);
        font-weight: 700; 
    }

    & li {
        font-weight: 400;
        color: var(--color-light-grey);
    }
}

.footer-info-instagram {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: flex-start;

    & h3 {
        font-family: var(--font-text);
        font-weight: 700; 
    }
}

.footer-info-instagram-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.9375rem;;
}

.footer-info-instagram-img {
    width: 13.875rem;
    height: 8rem;
    border-radius: 0.75rem;
    flex-shrink: 0;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    color: var(--color-font-tertiary);
    font-weight: 400;
    line-height: 150%;
}